@import "tailwindcss";

@theme {
    --Header: #FFF2F0;
    --AD: #D1F6D8;
    --ADT:#065784;
    --ADC:#E36911;
    --HT:#065784;
    --HT2:#92888C;
    --G1:#fcf0e6;
    --G2:#d5aded;
    --SBG:#FFF3EC;
    --SLT:#065784;
  }
